@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar {
    @apply w-[0.3rem] bg-[#161a21];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#3f71b7] rounded-lg;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #3f71b7;
    border-radius: 2px;
    height: 20px;
    width: 10px;
    transition: 0.2s;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background: #3f71b7;
    transition: 0.2s;
    cursor: pointer;
  }
}
