@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* 
    Page styles
  */
  * {
    @apply !scroll-smooth;
  }

  /*
    Input styles
  */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #3b82f6;
    border-radius: 2px;
    height: 20px;
    width: 10px;
    transition: 0.2s;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    cursor: pointer;
  }

  .checkbox {
    @apply flex gap-x-3 items-center bg-zinc-100 rounded-md px-4 py-3 mt-4 w-auto;
  }

  .checkbox input {
    @apply w-5 h-5 text-blue-500 bg-zinc-200 rounded border-none focus:ring-0 focus:ring-offset-0 hover:cursor-pointer;
  }

  .checkbox label {
    @apply font-medium select-none text-zinc-800 hover:cursor-pointer;
  }

  .range {
    @apply bg-zinc-200 appearance-none md:w-[16rem] h-[0.5rem] rounded focus:outline-none focus:border-none;
  }

  /* 
    Scrollbar styles
  */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-500 rounded-md;
  }
}
